.workspace {
    height: 100vh;
    background: no-repeat url("../../assets/images/background2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.content {
    width: 80vw;
    padding: 20px;

}

.board {
    background: rgba(69, 22, 28, 0.7);
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.board__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

}

.board__title {
    font-weight: 700;
    font-size: 26pt;
    line-height: 26pt;
    color: antiquewhite;
    word-break: break-all;
    margin-bottom: 10px;
}

.board__title:focus {
    font-weight: 400;
    font-size: 22pt;
    background: rgb(243, 241, 239);
    color: #181617;
    outline: 1px solid #45161C
}



.board__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: none;

}

.board__form__addbtn {
    flex: 0.5;
    background: rgba(172, 202, 132, 0.8);
    opacity: 85%;
    color: #45161C;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14pt;
}

.board__form__canlelbtn {
    color: antiquewhite;
    background: none;
    border: none;
}

.board__form__bottom {
    display: flex;
    justify-content: flex-start;
    background: none;
}


.board__addbtn {

    color: rgb(250, 235, 215);
    background: none;
    border: none;
    font-size: 16pt;

}


.bottom__addboard {
    margin-bottom: 50px;
    padding: 20px 60px;
    border-radius: 15px;
    background: #acca7b;
    opacity: 85%;
    font-weight: 600;
    border: none
}

.bottom__addboard:hover {
    filter: brightness(120%);
}

textarea {
    min-height: 80px;
    resize: none;
    outline: none;
}

