.workspace {
    min-height: 100vh;
    height: auto;
    background: no-repeat url("../assets/images/background2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 80vw;
    padding: 20px;
    display: flex;
    flex: 0 1 auto;
    column-gap: 40px;
}

.bottom__addboard {
    margin-bottom: 50px;
    padding: 20px 60px ;
   border-radius: 20px;
    background: #acca7b;
    opacity: 85%;
    font-weight: 600;
}

.bottom__addboard:hover {
    filter: brightness(120%) ;
}